.card-trainer {
  position: relative;
  width: 22.44%;
  min-height: 294px;
  height: 24vw;
  margin-right: 40px;
  overflow: hidden;

  @include vp-1201 {
    height: 39vw;
  }

  @include vp-767 {
    min-height: 274px;
    height: 72vw;
  }

  &:focus-within {
    border: 1px solid $second-color;
  }
}

.card-trainer:hover .card-trainer__content-wrapper {
  z-index: 1;
  background-color: rgba(16, 38, 84, 0.89);
}

.card-trainer__front {
  position: relative;
}

.card-trainer__front h3 {
  @include font(18px, 150%, 700);
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: center;
  color: $second-color;

  width: 90%;
  margin: 0;
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.card-trainer__images img {
  object-fit: cover;
  width: 100%;
  height: 24vw;
  min-height: 294px;

  @include vp-1201 {
    height: 39vw;
  }

  @include vp-767 {
    height: 72vw;
  }
}

.card-trainer__content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: auto;

  @include vp-1201 {
    padding: 56px 12px 0 12px;
  }
}

.card-trainer__content {
  padding: 20px 20px;
}

.card-trainer__content h3,
.card-trainer__content span,
.card-trainer__item-description {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $second-color;
}

.card-trainer__content h3 {
  @include font(18px, 150%, 700);
  width: 146px;

  margin: 0 auto;
  margin-bottom: -5px;

  @include vp-1201 {
    @include font(18px, 109%, 700);
    margin-bottom: 0;
    text-align: center;
  }
}

.card-trainer__content span {
  @include font(16px, 150%, 400);
  color: #b6bdcc;
  width: 102px;

  display: block;
  margin: 0 auto 33px;
  text-align: center;
}

.card-trainer__list-description {
  @include vp-1201 {
    padding: 0 12px 0 47px;
  }
}

.card-trainer__item-description {
  @include font(14px, 150%, 400);
  padding-left: 16px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $second-color;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.card-trainer__images-matrix {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  object-position: 0 0;
}
