.logo {
  display: inline-block;
  vertical-align: baseline;
}

.logo__icon {
  fill: $second-color;
  display: block;

  @include vp-1023 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 69px;
    height: 24px;
  }
}
