.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 11px;
  row-gap: 11px;
  align-items: center;

  width: 97px;
  margin-bottom: 10px;
}

.social__item {
  width: 25px;
  height: 25px;
  background-color: $second-color;
  border-radius: 50px;

  position: relative;

  cursor: pointer;

  &:hover .social__link-icon {
    fill: $hover-color;
  }

  &:focus-within {
    outline: 1px solid $focus-color;
    outline-offset: 2px;
  }
}

.social__link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #030a1a;
}
