.stock__container {
  padding-top: 149px;
  padding-bottom: 117px;

  @include vp-1023 {
    padding-top: 92px;
    padding-bottom: 92px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 66px;
  }
}

.stock__container h2 {
  @include font(54px, 65px, 600);
  letter-spacing: 0.03em;
  text-align: center;

  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 34px;

  @include vp-1023 {
    @include font(42px, 50px, 600);

    margin-bottom: 41px;
  }

  @include vp-767 {
    @include font(32px, 38px, 600);

    margin-bottom: 42px;
  }
}

.stock__container-wrapper {
  display: grid;
  grid-template-columns: 560px 1fr;
  column-gap: 40px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.stock__unlimited-wrapper {
  width: 50.28%;
  display: grid;
  grid-template-columns: repeat(2, 280px);
  justify-content: space-between;
  background-color: #ed0233;

  @include vp-1023 {
    width: 100%;
    grid-template-columns: 279px 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.stock__unlimited-content {
  display: flex;
  flex-direction: column;

  padding: 39px 45px 45px;

  @include vp-767 {
    text-align: center;
  }
}

.stock__unlimited-list dt,
dd,
p,
a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $second-color;
}

.stock__unlimited-list dt {
  @include font(28px, 32px, 700);

  width: 100%;
  margin-bottom: 3px;
}

.stock__unlimited-list dd {
  @include font(70px, 67px, 700);

  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.stock__unlimited-content p {
  @include font(18px, 140%, 400);
  color: $second-color;

  margin: 0;
  margin-bottom: auto;

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.stock__unlimited-content a {
  @include font(14px, 16px, 700);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $second-color;

  width: max-content;
  max-width: 150px;
  border-bottom: 1px solid $second-color;
  display: block;

  @include vp-767 {
    margin: 0 auto;
  }

  @include hover {
    color: $hover-color;
  }

  @include focus {
    outline: 1px solid $focus-color;
    outline-offset: 4px;
  }
}

.stock__unlimited-img {
  height: 100%;
  min-height: 462px;
  object-fit: cover;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    min-height: 299px;
    object-position: 0 -6px;
  }
}

.stock__tarif-list {
  display: grid;
  row-gap: 40px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 31px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.stock__tarif-item {
  display: flex;
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, #d10a42, #00359f) 1;

  @include vp-767 {
    justify-content: center;
  }
}

.stock__wrapper-images {
  @include vp-767 {
    height: 93.44vw;
  }
}

.stock__tarif-content {
  display: flex;
  flex-direction: column;

  padding-top: 22px;
  padding-left: 28px;
  padding-bottom: 15px;
  padding-right: 28px;

  &--month-free {
    @include vp-1023 {
      padding-right: 56px;
    }

    @include vp-767 {
      padding-right: 28px;
    }
  }

  @include vp-767 {
    text-align: center;
    padding-top: 33px;
  }
}

.stock__tarif-content h3,
p,
a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin: 0;
  color: $primary-color;
}

.stock__tarif-content h3 {
  @include font(26px, 32px, 700);

  margin-bottom: 7px;
}

.stock__tarif-content p {
  @include font(16px, 22px, 400);

  margin-bottom: 20px;

  @include vp-1023 {
    margin-bottom: 48px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.stock__tarif-content a {
  @include font(12px, 14px, 700);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: block;
  border-bottom: 1px solid $primary-color;
  width: fit-content;
  max-width: 150px;
  margin-top: auto;
  margin-bottom: 13px;

  @include vp-767 {
    margin: 0 auto 20px;
  }

  @include hover {
    color: $hover-color;
  }

  @include focus {
    outline: 1px solid $focus-color;
    outline-offset: 4px;
  }
}
