.tabs {
  background-color: #f8f9fc;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -83px;
    width: 287px;
    height: 426px;
    background-image: url("../img/background/pancakes-for-barbell.png");
    background-repeat: no-repeat;
  }

  @include vp-1023 {
    &::before {
      content: "";
      position: absolute;
      right: -1px;
      bottom: -25px;
      width: 348px;
      height: 345px;
      background-image: url("../img/background/pancakes-for-barbell-tablet.png");
      background-repeat: no-repeat;
    }
  }

  @include vp-767 {
    &::before {
      display: none;
    }
  }
}

.tabs__container {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding: 101px 163px 100px 163px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 70px;
  }
}

.tabs__container h2 {
  @include font(54px, 65px, 600);
  letter-spacing: 0.03em;
  text-align: center;

  margin: 0 0 19px 0;

  @include vp-1023 {
    @include font(42px, 50px, 600);

    width: 192px;
    text-align: inherit;
    margin: 0 auto 21px;
  }

  @include vp-767 {
    @include font(32px, 38px, 600);

    width: 146px;
  }
}

.tabs__list-button {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  width: 341px;
  margin: 0 auto;
  margin-bottom: 39px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1023 {
    width: 332px;
    margin-bottom: 45px;
    padding-bottom: 11px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 290px;
    margin-bottom: 35px;
  }
}

.tabs__button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  @include font(20px, 150%, 400);
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #10265480;

  &--active {
    position: relative;
    color: $primary-color;

    &::before {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #d10a42;

      @include vp-767 {
        bottom: -13px;
      }
    }
  }

  @include vp-1023 {
    @include font(18px, 150%, 400);
  }

  @include vp-767 {
    @include font(16px, 150%, 400);
  }
}

.tab__list {
  display: none;
}

.tab__list--active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 40px;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.tab__item {
  background-color: #ffffff;
  border: 7px solid transparent;
  z-index: 1;

  &:hover {
    border-width: 7px;
    border-style: solid;
    border-image: linear-gradient(to right bottom, #d10a42, #00359f) 1;
    cursor: pointer;
  }
}

.tab__item:hover .tab__link-button {
  position: relative;
  z-index: 1;
  color: #ffffff;
  border-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #ed0233 17.6%, #003eb7 95.31%);
  }
}

.tab__item-wrapper {
  position: relative;
  padding: 50px 0 59px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1023 {
    padding: 50px 0 62px 0;
  }

  @include vp-767 {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

.tab__item-wrapper h3,
span,
b,
a,
.tabs__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.tab__item-wrapper h3 {
  @include font(26px, 40px, 700);
  text-align: center;

  width: 150px;
  margin: 0;
  margin-bottom: 3px;

  @include vp-767 {
    @include font(22px, 110%, 700);
    margin-bottom: 9px;
  }
}

.tab__item-wrapper span {
  @include font(16px, 150%, 400);
  color: #495a7d;
  text-align: center;

  margin-bottom: 66px;
  width: 130px;

  @include vp-767 {
    margin-bottom: 55px;
  }
}

.tab__item-wrapper b {
  position: relative;
  z-index: 1;
  margin-bottom: 33px;
  width: 167px;

  @include font(60px, 150%, 700);
  color: #103aae;

  &::before {
    content: attr(data-parent);
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include font(100px, 150%, 700);
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: #e8e8e8;
    opacity: 0.48;

    @include vp-767 {
      @include font(80px, 150%, 700);
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 42px;
    top: 24px;
    right: 0;
    background-image: url("../img/svg/rouble.svg");
    background-repeat: no-repeat;

    @include vp-767 {
      width: 24px;
      height: 33px;
      top: 20px;
      right: -4px;
      background-image: url("../img/svg/rouble-mobile.svg");
    }
  }

  @include vp-1023 {
    margin-bottom: 34px;
  }

  @include vp-767 {
    @include font(48px, 150%, 700);
    width: 128px;
    margin-bottom: 30px;
  }
}

.tab__item-wrapper a {
  @include font(12px, 14px, 700);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid #102654;
  padding: 27px 44px 22px 44px;

  @include vp-1023 {
    padding: 25px 44px 22px 44px;
  }
}
