.trainer__container {
  padding-top: 107px;
}

.trainer__swiper {
  position: relative;
  width: 92.11%;
  max-width: 1272px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 91px;

  @include vp-1201 {
    width: 88.29%;
  }
}

.trainer__swaper-slides {
  width: 92%;

  @include vp-1201 {
    width: 83.77%;
  }
}

.trainer__container h2 {
  @include font(54px, 65px, 600);
  letter-spacing: 0.03em;

  width: 40%;
  margin: 0;
}

.trainer__swiper-button {
  border: none;
  background-color: transparent;
  width: 16px;
  height: 32px;
  padding: 0;
  z-index: 3;
  cursor: pointer;

  &::before,
  &::after {
    display: none;
  }

  &--prev {
    left: -8px;
    top: 45.5%;
    transform: rotate(180deg);

    @include vp-1201 {
      left: 0;
    }
  }

  &--next {
    right: -8px;
    top: 46%;
    transform: rotate(360deg);

    @include vp-1201 {
      right: 0;
    }
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px solid $primary-color;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
