.trainer__container {
  padding-top: 107px;
}

.trainer__swiper {
  position: relative;
  width: 92.11%;
  max-width: 1272px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 91px;

  @include vp-1201 {
    width: 88.29%;
  }

  @include vp-1023 {
    padding-top: 30px;
    padding-bottom: 101px;
  }

  @include vp-767 {
    padding-top: 42px;
    padding-bottom: 70px;
    width: 84.29%;
  }
}

.trainer__swaper-slides {
  width: 92%;

  @include vp-1201 {
    width: 83.77%;
  }
}

.trainer__container h2 {
  @include font(54px, 65px, 600);
  letter-spacing: 0.03em;

  width: 40%;
  margin: 0;

  @include vp-1023 {
    @include font(42px, 52px, 600);
    text-align: center;

    margin: 0 auto;
    padding-top: 31px;
    padding-right: 6px;
  }

  @include vp-767 {
    @include font(32px, 38px, 600);

    padding-top: 62px;
  }
}

.trainer__swiper-button {
  border: none;
  background-color: transparent;
  width: 16px;
  height: 32px;
  padding: 0;
  z-index: 3;
  cursor: pointer;

  @include vp-767 {
    width: 11px;
  }

  &::before,
  &::after {
    display: none;
  }

  &--prev {
    left: -8px;
    top: 45.5%;
    transform: rotate(180deg);

    @include vp-1201 {
      left: 0;
    }

    @include vp-1023 {
      top: 44.3%;
    }

    @include vp-767 {
      top: 48.5%;
      left: -11px;
    }
  }

  &--next {
    right: -8px;
    top: 46%;
    transform: rotate(360deg);

    @include vp-1201 {
      right: 0;
    }

    @include vp-1023 {
      top: 44%;
    }

    @include vp-767 {
      top: 48.5%;
      right: -10px;
    }
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px solid $primary-color;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
